@tailwind base;
@tailwind components;
@tailwind utilities;

.square0{

  background-color: rgb(209, 207, 205);
  position: relative;
}
.square1 {
  background-color: rgb(166, 165, 164);
  position: relative;
}
.highlight {
  outline: 3px solid rgba(249, 6, 6, 0.446);
  outline-offset: 0;
  position: relative;
  z-index: 1;
}
